# --- Framework & Server ---
fastapi
uvicorn
python-dotenv
python-multipart
nest_asyncio

# --- Database ---
chromadb

# --- LlamaIndex Core ---
llama-index-core

# --- LlamaIndex Integrations (PENTING) ---
llama-index-llms-google-genai
llama-index-embeddings-google-genai
llama-index-vector-stores-chroma